section.productdetail-12.section-stats.section
	.container
		.flex(class="flex-wrap")
			.col-left(class="w-full md:max-w-[58.79032258%] md:flex-[0_0_[58.79032258%]] px-4 md:px-8 max-md:text-center")
				h2.title(class="heading-32 font-heading") We’re On A Mission To Help 100,000,000 Women Visibly, Naturally Get Rid Of Bloating…And Feel Like Themselves Again
				.sub-title.text-lg.mt-4 Here's where we're at right now:
				.img.mt-3
					+img({src:"https://trysculptique.com/cdn/shop/files/Frame_1000003537.jpg?v=1760943777",className:'md:hidden block'})
					+img({src:"https://trysculptique.com/cdn/shop/files/numbdeskt-min_png.png?v=1760942458",className:'md:block hidden'})
					+img({src:"https://trysculptique.com/cdn/shop/files/numbmob-min_png.png?v=1760942458",className:'md:hidden block'})


			.col-right(class="w-full max-w-[41.12903226%] flex-[0_0_[41.12903226%]] md:block hidden")
				.img
					+img({src:'https://trysculptique.com/cdn/shop/files/Frame_1000003537.jpg?v=1760943777',className:'ratio-[379/510] ratio-contain'})