section.productdetail-7.section-review.section
	.container
		div(class="rem:max-w-[800px] mx-auto w-full text-center")
			.product-review-trust
				+img({src:'https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Trustpilot_Score.png?v=1752349211',lazy:false,className:'clamp:max-w-[200px] block w-full mx-auto'})
			h2.title(class="heading-32 font-heading mt-3") Real Women, Real Results: 93,000+ Transformations
						p.my-4 All reviews verified from actual paying customers
		#judgeme_product_reviews.jdgm-widget.jdgm-review-widget.jdgm--done-setup-widget(data-id='10087591805271' data-widget-name='review_widget' data-impressions-tracked='true' data-views-tracked='true' data-clicks-tracked='true')
			.jdgm-rev-widg(data-updated-at='2026-01-08T06:10:56Z' data-average-rating='4.67' data-number-of-reviews='110' data-number-of-questions='0' data-image-url='https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Sculptique_1_Artboard1_d0aa7de4-79fc-4755-a3d9-176d60211678.jpg?v=1749415846')
				style.jdgm-temp-hiding-style.
					.jdgm-rev-widg{ display: none }
				.jdgm-rev-widg__header
					h2.jdgm-rev-widg__title Customer Reviews
					.jdgm-row-stars
						.jdgm-rev-widg__summary
							.jdgm-rev-widg__summary-inner
								.jdgm-rev-widg__summary-stars(aria-label='Average rating is 4.67 stars' role='img')
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--half
									span.jdgm-rev-widg__summary-average 4.67 out of 5
								.jdgm-rev-widg__summary-text.jdgm-all-reviews__summary-text--verified
									| Based on 110 reviews
									img.jdgm-verified-checkmark(src='https://judgeme-public-images.imgix.net/judgeme/logos/verified-checkmark.svg' alt='Verified Checkmark')
						.jdgm-histogram.jdgm-temp-hidden
							.jdgm-histogram__row(data-rating='5' data-frequency='84' data-percentage='76')
								.jdgm-histogram__star(role='button' aria-label='76% (84) reviews with 5 star rating' tabindex='0')
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
								.jdgm-histogram__bar
									.jdgm-histogram__bar-content(style='width: 76%;')  
								.jdgm-histogram__frequency 84
							.jdgm-histogram__row(data-rating='4' data-frequency='17' data-percentage='15')
								.jdgm-histogram__star(role='button' aria-label='15% (17) reviews with 4 star rating' tabindex='0')
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--off
								.jdgm-histogram__bar
									.jdgm-histogram__bar-content(style='width: 15%;')  
								.jdgm-histogram__frequency 17
							.jdgm-histogram__row(data-rating='3' data-frequency='8' data-percentage='7')
								.jdgm-histogram__star(role='button' aria-label='7% (8) reviews with 3 star rating' tabindex='0')
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--off
									span.jdgm-star.jdgm--off
								.jdgm-histogram__bar
									.jdgm-histogram__bar-content(style='width: 7%;')  
								.jdgm-histogram__frequency 8
							.jdgm-histogram__row(data-rating='2' data-frequency='1' data-percentage='1')
								.jdgm-histogram__star(role='button' aria-label='1% (1) reviews with 2 star rating' tabindex='0')
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--off
									span.jdgm-star.jdgm--off
									span.jdgm-star.jdgm--off
								.jdgm-histogram__bar
									.jdgm-histogram__bar-content(style='width: 1%;')  
								.jdgm-histogram__frequency 1
							.jdgm-histogram__row(data-rating='1' data-frequency='0' data-percentage='0')
								.jdgm-histogram__star(role='button' aria-label='0% (0) reviews with 1 star rating' tabindex='0')
									span.jdgm-star.jdgm--on
									span.jdgm-star.jdgm--off
									span.jdgm-star.jdgm--off
									span.jdgm-star.jdgm--off
									span.jdgm-star.jdgm--off
								.jdgm-histogram__bar
									.jdgm-histogram__bar-content(style='width: 0%;')  
								.jdgm-histogram__frequency 0
							.jdgm-histogram__row.jdgm-histogram__clear-filter(data-rating='null' tabindex='0') See all reviews
						.jdgm-widget-actions-wrapper
							.jdgm-write-rev-link(role='button' aria-expanded='false') Write a review
					.jdgm-form-wrapper(style='display: none')
						form.jdgm-form(novalidate='novalidate')
							.jdgm-form__title Write a review
							.jdgm-form__fieldset(aria-label='Rating')
								label Rating
								span.jdgm-form__rating(style='cursor: pointer;')
									a.jdgm-star.jdgm--off(data-alt='1' title='1 star' role='button' aria-label='1 star')
									a.jdgm-star.jdgm--off(data-alt='2' title='2 stars' role='button' aria-label='2 stars')
									a.jdgm-star.jdgm--off(data-alt='3' title='3 stars' role='button' aria-label='3 stars')
									a.jdgm-star.jdgm--off(data-alt='4' title='4 stars' role='button' aria-label='4 stars')
									a.jdgm-star.jdgm--off(data-alt='5' title='5 stars' role='button' aria-label='5 stars')
									input(name='score' type='hidden')
							.jdgm-form__fieldset
								label.jdgm-form__inline-label(for='jdgm_review_title_xjz4qepy') Review Title
								span.jdgm-countdown
								input#jdgm_review_title_xjz4qepy(name='review_title' type='text' placeholder='Give your review a title' aria-label='Review Title')
							.jdgm-form__fieldset
								label.jdgm-form__inline-label(for='jdgm_review_body_xjz4qepy') Review content
								span.jdgm-countdown
								textarea#jdgm_review_body_xjz4qepy(rows='5' name='review_body' placeholder='Start writing here...' aria-label='Review content')
							.jdgm-form__fieldset
								label Picture/Video (optional)
								.jdgm-media-fieldset__container
									.jdgm-picture-fieldset__box.jdgm-picture-fieldset__box--input
										.jdgm-picture-fieldset__box-wrapper
											.jdgm-media-fieldset__icon
										input.jdgm-media-fieldset__input(type='file' name='media' multiple accept='image/gif,image/jpeg,image/jpg,image/png,image/webp' aria-label='Choose a review picture/video (optional)')
										div(style='display: none !important' aria-label='Choose a review picture/video (optional)') Choose a review picture/video (optional)
							.jdgm-custom-forms
							.jdgm-form__fieldset
								label.jdgm-form__inline-label(for='jdgm_review_reviewer_name_xjz4qepy') Display name
								span.jdgm-form__reviewer-name-format-container
									| (
									label.jdgm-form__inline-label.jdgm-always-visible(for='jdgm_review_reviewer_name_format_xjz4qepy') displayed publicly like
									span.jdgm-sort-dropdown-wrapper
										select#jdgm_review_reviewer_name_format_xjz4qepy.jdgm-sort-dropdown(name='reviewer_name_format' aria-label='Name format')
											option(value selected) John Smith
											option(value='last_initial') John S.
											option(value='first_name_only') John
											option(value='all_initials') J.S.
											option(value='anonymous') Anonymous
										span.jdgm-sort-dropdown-arrow
									|         )
								input#jdgm_review_reviewer_name_xjz4qepy(name='reviewer_name' type='text' placeholder='Display name' aria-label='Display name')
							.jdgm-form__fieldset.jdgm-form__email-fieldset
								label(for='jdgm_review_reviewer_email_xjz4qepy') Email address
								input#jdgm_review_reviewer_email_xjz4qepy(name='reviewer_email' type='email' required placeholder='Your email address' aria-label='Email address' aria-required='true')
							.jdgm-form__fieldset
								p
									| How we use your data: We'll only contact you about the review you left, and only if necessary. By submitting your review, you agree to Judge.me's 
									a(href='https://judge.me/terms' target='_blank' rel='nofollow noopener') terms
									| , 
									a(href='https://judge.me/privacy' target='_blank' rel='nofollow noopener') privacy
									|  and 
									a(href='https://judge.me/content-policy' target='_blank' rel='nofollow noopener') content
									|  policies.
							.jdgm-form__fieldset.jdgm-form__fieldset-actions
								a.jdgm-btn.jdgm-btn--border.jdgm-cancel-rev(href='#judgeme_product_reviews' role='button') Cancel review
								input.jdgm-btn.jdgm-btn--solid.jdgm-submit-rev(type='submit' value='Submit Review')
					.jdgm-row-media
						.jdgm-medals-wrapper(data-updated-at='2026-01-08T06:10:56Z')
							style(type='text/css').
							.jdgm-medals(data-link='https://app.judge.me/reviews/medals')
								.jdgm-medals__container
									.jdgm-medal-wrapper(title='Diamond Authentic Shop. 100% of published reviews are verified reviews')
										a.jdgm-medal(data-value='100.0' data-type='auth' data-tier='diamond')
											.jdgm-medal__image(data-url='auth/diamond.svg' data-alt='Judge.me Diamond Authentic Shop medal')
												img(alt='Judge.me Diamond Authentic Shop medal' src='https://judgeme-public-images.imgix.net/judgeme/medals-v2-2025-rebranding/auth/diamond.svg?auto=format')
											.jdgm-medal__value 100.0
					.jdgm-form-dynamic-wrapper(style='display: none')
						form.jdgm-form.jdgm-form-dynamic(novalidate='novalidate')
							.jdgm-form-dynamic__close.jdgm-close-ico
							.jdgm-form-dynamic__row.jdgm-form-dynamic__picture-upload-field(data-pos='0')
								.jdgm-form-dynamic__row-inner
									.jdgm-form__title Picture/Video (optional)
									.jdgm-form__fieldset
										.jdgm-media-fieldset__container
											.jdgm-picture-fieldset__box.jdgm-picture-fieldset__box--input
												.jdgm-picture-fieldset__box-wrapper
													.jdgm-media-fieldset__icon
												input.jdgm-media-fieldset__input(type='file' name='media' multiple accept='image/gif,image/jpeg,image/jpg,image/png,image/webp' aria-label='Choose a review picture/video (optional)')
												div(style='display: none !important' aria-label='Choose a review picture/video (optional)') Choose a review picture/video (optional)
								.jdgm-form-dynamic__buttons-row
									.jdgm-btn.jdgm-btn--border.jdgm-form-dynamic__back.btn.btn_c.button(tabindex='0' role='button') Back
									.jdgm-btn.jdgm-btn--solid.jdgm-form-dynamic__next.btn.btn_c.button(tabindex='0' role='button') Next
							.jdgm-form-dynamic__row(data-pos='1')
								.jdgm-form-dynamic__row-inner
									.jdgm-form__title Rating
									span.jdgm-form-dynamic__rating(style='cursor: pointer;')
										a.jdgm-star.jdgm--off(data-alt='1' title='1 star')
										a.jdgm-star.jdgm--off(data-alt='2' title='2 stars')
										a.jdgm-star.jdgm--off(data-alt='3' title='3 stars')
										a.jdgm-star.jdgm--off(data-alt='4' title='4 stars')
										a.jdgm-star.jdgm--off(data-alt='5' title='5 stars')
										input(name='score' type='hidden')
								.jdgm-form-dynamic__buttons-row
									.jdgm-btn.jdgm-btn--border.jdgm-form-dynamic__back.btn.btn_c.button(tabindex='0' role='button') Back
									.jdgm-btn.jdgm-btn--solid.jdgm-form-dynamic__next.btn.btn_c.button(tabindex='0' role='button') Next
							.jdgm-form-dynamic__row(data-pos='2')
								.jdgm-form-dynamic__row-inner
									.jdgm-form__fieldset
										label(for='jdgm_reviewer_name') Display name
										input#jdgm_reviewer_name(name='reviewer_name' type='text' placeholder='Display name')
									.jdgm-form__fieldset.jdgm-form-dynamic__email-fieldset
										label(for='jdgm_reviewer_email') Email address
										input#jdgm_reviewer_email(name='reviewer_email' type='email' placeholder='Your email address')
								.jdgm-form-dynamic__buttons-row
									.jdgm-btn.jdgm-btn--border.jdgm-form-dynamic__back.btn.btn_c.button(tabindex='0' role='button') Back
									.jdgm-btn.jdgm-btn--solid.jdgm-form-dynamic__next.btn.btn_c.button(tabindex='0' role='button') Next
							.jdgm-form-dynamic__row.jdgm-form-dynamic__submit-slide(data-pos='3')
								.jdgm-form-dynamic__row-inner
									.jdgm-form__fieldset
										label.jdgm-form__inline-label(for='jdgm_review_title') Review Title
										span.jdgm-countdown
										input#jdgm_review_title(name='review_title' type='text' placeholder='Give your review a title')
									.jdgm-form__fieldset
										label.jdgm-form__inline-label(for='jdgm_review_body') Review content
										span.jdgm-countdown
										textarea#jdgm_review_body(rows='5' name='review_body' placeholder='Start writing here...')
								.jdgm-form-dynamic__buttons-row
									.jdgm-btn.jdgm-btn--border.jdgm-form-dynamic__back.btn.btn_c.button(tabindex='0' role='button') Back
									.jdgm-btn.jdgm-btn--solid.jdgm-form-dynamic__next.btn.btn_c.button(tabindex='0' role='button') Next
							.jdgm-custom-forms.jdgm-custom-forms-dynamic
							input.jdgm-btn.jdgm-btn--solid.jdgm-form-dynamic__submit-rev(type='submit' value='Submit Review')
				.jdgm-row-actions
					.jdgm-rev-widg__sort-wrapper
						.jdgm-sort-dropdown-wrapper
							select.jdgm-sort-dropdown(aria-label='Sort dropdown')
								option(value='most-recent') Most Recent
								option(value='highest-rating') Highest Rating
								option(value='lowest-rating') Lowest Rating
								option(value='with-pictures') Only Pictures
								option(value='pictures-first') Pictures First
								option(value='videos-first') Videos First
								option(value='most-helpful') Most Helpful
							span.jdgm-sort-dropdown-arrow
				.jdgm-rev-widg__body
					.jdgm-rev-widg__reviews
						.jdgm-rev.jdgm-divider-top.jdgm--done-setup(data-verified-buyer='true' data-review-id='a20d8e7c-fc29-4928-b652-7117fff22450' data-review-language data-product-title='Maximum Potency Anti-Cellulite & Lipedema Capsules | Smooth Skin by Sculptique™' data-product-url='/products/anti-cellulite-lipedema-capsules-smooth-skin-sub' data-thumb-up-count='0' data-thumb-down-count='0')
							.jdgm-rev__header
								.jdgm-row-product
								.jdgm-row-rating
									span.jdgm-rev__rating(data-score='5' tabindex='0' aria-label='5 star review' role='img')
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
									span.jdgm-rev__timestamp(data-content='2025-12-08 19:16:48 UTC') 12/08/2025
								.jdgm-row-profile
									.jdgm-rev__icon
									span.jdgm-rev__author-wrapper
										span.jdgm-rev__author Anonymous
										span.jdgm-rev__buyer-badge-wrapper
											span.jdgm-rev__buyer-badge
								.jdgm-row-extra
									span.jdgm-rev__location   
								.jdgm-rev__br
							.jdgm-rev__content
								b.jdgm-rev__title
								.jdgm-rev__body
									p
										| Pretty sure I’m seeing improvement in the smoothness of my skin after 30 days. Will continue with confidence it’s working.
								.jdgm-rev__custom-form   
								.jdgm-rev__transparency-badge-wrapper   
							.jdgm-rev__actions
								.jdgm-rev__social
								.jdgm-rev__votes
						.jdgm-rev.jdgm-divider-top.jdgm--done-setup(data-verified-buyer='true' data-review-id='98c49d5f-5248-4a39-9f88-82ed6f9241c1' data-review-language data-product-title='New Maximum Potency Anti-Lipedema Capsules | Smooth Skin by Sculptique™' data-product-url='/products/anti-cellulite-lipedema-capsules-sculptique' data-thumb-up-count='0' data-thumb-down-count='0')
							.jdgm-rev__header
								.jdgm-row-product
								.jdgm-row-rating
									span.jdgm-rev__rating(data-score='5' tabindex='0' aria-label='5 star review' role='img')
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
									span.jdgm-rev__timestamp(data-content='2025-12-01 15:41:07 UTC') 12/01/2025
								.jdgm-row-profile
									.jdgm-rev__icon
									span.jdgm-rev__author-wrapper
										span.jdgm-rev__author Anonymous
										span.jdgm-rev__buyer-badge-wrapper
											span.jdgm-rev__buyer-badge
								.jdgm-row-extra
									span.jdgm-rev__location   
								.jdgm-rev__br
							.jdgm-rev__content
								b.jdgm-rev__title
								.jdgm-rev__body
									p One month and I’ve already seen a difference!
								.jdgm-rev__custom-form   
								.jdgm-rev__transparency-badge-wrapper   
							.jdgm-rev__actions
								.jdgm-rev__social
								.jdgm-rev__votes
						.jdgm-rev.jdgm-divider-top.jdgm--done-setup(data-verified-buyer='true' data-review-id='d41a5e95-e8df-4c87-98b2-72ba3403da13' data-review-language data-product-title='New Maximum Potency Anti-Lipedema Capsules | Smooth Skin by Sculptique™' data-product-url='/products/anti-cellulite-lipedema-capsules-sculptique' data-thumb-up-count='0' data-thumb-down-count='0')
							.jdgm-rev__header
								.jdgm-row-product
								.jdgm-row-rating
									span.jdgm-rev__rating(data-score='5' tabindex='0' aria-label='5 star review' role='img')
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
									span.jdgm-rev__timestamp(data-content='2025-11-23 19:49:57 UTC') 11/23/2025
								.jdgm-row-profile
									.jdgm-rev__icon
									span.jdgm-rev__author-wrapper
										span.jdgm-rev__author Donabeth Houx
										span.jdgm-rev__buyer-badge-wrapper
											span.jdgm-rev__buyer-badge
								.jdgm-row-extra
									span.jdgm-rev__location   
								.jdgm-rev__br
							.jdgm-rev__content
								b.jdgm-rev__title
								.jdgm-rev__body
									p
										| I LOVE THEM! My legs have gone from late stage 2 to late one!!! Oh my gosh!  It’s a miracle! I no longer have to worry about elephantitus in my future!  Thank you so much!!!!!!
								.jdgm-rev__custom-form   
								.jdgm-rev__transparency-badge-wrapper   
							.jdgm-rev__actions
								.jdgm-rev__social
								.jdgm-rev__votes
						.jdgm-rev.jdgm-divider-top.jdgm--done-setup(data-verified-buyer='true' data-review-id='3f91d923-67b1-417b-abc4-965ba4402255' data-review-language data-product-title='Anti-Lipedema Capsules | Sculptique™ Smooth Skin' data-product-url='/products/anti-lipedema-capsules-sculptique' data-thumb-up-count='0' data-thumb-down-count='0')
							.jdgm-rev__header
								.jdgm-row-product
								.jdgm-row-rating
									span.jdgm-rev__rating(data-score='5' tabindex='0' aria-label='5 star review' role='img')
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
									span.jdgm-rev__timestamp(data-content='2025-11-17 15:15:04 UTC') 11/17/2025
								.jdgm-row-profile
									.jdgm-rev__icon
									span.jdgm-rev__author-wrapper
										span.jdgm-rev__author Dawn Camacho
										span.jdgm-rev__buyer-badge-wrapper
											span.jdgm-rev__buyer-badge
								.jdgm-row-extra
									span.jdgm-rev__location   
								.jdgm-rev__br
							.jdgm-rev__content
								b.jdgm-rev__title
								.jdgm-rev__body
									p
										| It took me about 60 days to notice a difference in smoothness. My husband noticed which is why I purchased another round. I'm happy.
								.jdgm-rev__custom-form   
								.jdgm-rev__transparency-badge-wrapper   
							.jdgm-rev__actions
								.jdgm-rev__social
								.jdgm-rev__votes
						.jdgm-rev.jdgm-divider-top.jdgm--done-setup(data-verified-buyer='true' data-review-id='ddf23e55-9c7b-45d5-97cd-2bbb0d6de33f' data-review-language data-product-title='New Maximum Potency Anti-Lipedema Capsules | Smooth Skin by Sculptique™' data-product-url='/products/anti-cellulite-lipedema-capsules-sculptique' data-thumb-up-count='0' data-thumb-down-count='0')
							.jdgm-rev__header
								.jdgm-row-product
								.jdgm-row-rating
									span.jdgm-rev__rating(data-score='5' tabindex='0' aria-label='5 star review' role='img')
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
										span.jdgm-star.jdgm--on
									span.jdgm-rev__timestamp(data-content='2025-11-13 13:50:33 UTC') 11/13/2025
								.jdgm-row-profile
									.jdgm-rev__icon
									span.jdgm-rev__author-wrapper
										span.jdgm-rev__author Anonymous
										span.jdgm-rev__buyer-badge-wrapper
											span.jdgm-rev__buyer-badge
								.jdgm-row-extra
									span.jdgm-rev__location   
								.jdgm-rev__br
							.jdgm-rev__content
								b.jdgm-rev__title
								.jdgm-rev__body
									p I have noticed a difference on my swelling.
								.jdgm-rev__custom-form   
								.jdgm-rev__transparency-badge-wrapper   
							.jdgm-rev__actions
								.jdgm-rev__social
								.jdgm-rev__votes
					.jdgm-paginate(data-per-page='5' data-url='https://api.judge.me/reviews/reviews_for_widget')
						a.jdgm-paginate__page.jdgm-curt(data-page='1' aria-label='Page 1' tabindex='0' role='button') 1
						a.jdgm-paginate__page(data-page='2' aria-label='Page 2' tabindex='0' role='button') 2
						a.jdgm-paginate__page(data-page='3' aria-label='Page 3' tabindex='0' role='button') 3
						a.jdgm-paginate__page.jdgm-paginate__next-page(data-page='2' aria-label='Page 2' tabindex='0' rel='next' role='button')
						a.jdgm-paginate__page.jdgm-paginate__last-page(data-page='22' aria-label='Page 22' tabindex='0' role='button')
				.jdgm-rev-widg__paginate-spinner-wrapper
					.jdgm-spinner
