section.productdetail-9.section
	.container
		.grid(class="md:grid-cols-2 group")
			.col-left(class="max-md:order-2 p-8")
				.time(class="text-[#737373]") July 4th, 2025
				h2.title(class="heading-32") Expert Advice from Dr. Emily Chen of a Premier New York Skin Clinic
				.content
					<p>“Your nutrition plays a powerful role in your appearance. If your body is missing key vitamins and nutrients, it can’t process fat and upkeep healthy connective tissue, which is why unprocessed fat flows up and starts pushing up against your skin, forming bumps you know as cellulite.</p>
					<p>SmoothSkin by Sculptique™ contains ingredients that are scientifically proven to enhance microcirculation, boost lymphatic drainage, and reduce inflammation, which restores your tissue and breaks down the fat cells in your skin.”</p>

			.col-right