section.productdetail-13.section(class="bg-primary-2")
	.container
		.grid(class="md:grid-cols-2 items-center")
			.col-left
				+img({src:"https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Trustpilot_review.png?v=1752480694",className:'md:block hidden'})
				+img({src:"https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Trustpilot_review_1.png?v=1752480694",className:'md:hidden block px:max-w-[250px] w-full mx-auto'})
				h2.title(class="heading-32 font-heading mt-6") Stop Masking Symptoms. Start Restoring Root Cause.
				.content(class="medium-content-spacing text-lg mt-4")
					<p>You deserve to feel like yourself again. To wake up without puffiness. To see your ankles. To look in the mirror and recognize the vibrant woman staring back. To have energy for the people you love.</p><p>You deserve a solution that actually works. Not temporary relief. Not symptom masking. Complete lymphatic restoration.</p>
				div(class="md:hidden mt-3 mb-8")
					.img
						+img({src:'https://trysculptique.com/cdn/shop/files/before-min_png.png?v=1760688928',className:'ratio-[1/1] ratio-contain'})
				div(class="clamp:max-w-[495px]")
					.button(class="md:w-fit")
						.btn-add-to-cart(class="px:px-10 md:rem:px-20 mt-6") Try Lymphatic Drainage Risk-Free
					.warranty-content(class="flex items-center justify-center gap-3 mt-4")
						.icon(class="w-6")
							+img({src:'https://cdn.shopify.com/s/files/1/0917/5649/5191/files/60-days_11622780_1_1.png?v=1752388395',className:'ratio-[1/1] ratio-contain'})
						p 60 day money-back guarantee
			.col-right(class="md:block hidden")
				.img
					+img({src:'https://trysculptique.com/cdn/shop/files/before-min_png.png?v=1760688928',className:'ratio-[1/1] ratio-contain'})