.zoom-img
	overflow: hidden
	@screen xl
		&:hover
			img,svg
				transform: scale(1.1)
	.img
		@apply overflow-hidden
	img,svg
		transition: .3s transform ease-in-out #{!important}
	.not-zoom
		img,svg
			transform: none !important
			transition: none !important
	.img:not(.not-zoom)
		@apply overflow-hidden
		img,svg
			transition: .3s transform ease-in-out #{!important}
		@screen xl
			&:hover
				img,svg
					transform: scale(1.1)
