.image-svg
	img
		@apply opacity-0
	.img-generate
		img
			@apply opacity-100
	svg
		@apply w-full h-full
	&.image-absolute
		.svg-generate
			@apply absolute inset-0 w-full h-full

.expander
	display: grid
	grid-template-rows: 0fr
	overflow: hidden
	transition: grid-template-rows var(--duration,.3s)
	.expander-content
		min-height: 0
		transition: visibility var(--duration,.3s)
		visibility: hidden
	// .active
		// grid-template-rows: 1fr
		// .expander-content
		// 	visibility: visible

[class*='ratio-']
	@apply relative h-0 block overflow-hidden
	img,iframe,video,.ratio-frame, picture
		object-fit: cover
		@apply absolute top-0 left-0 w-full h-full
	&:not(.no-transition)
		img,iframe,video,.ratio-frame, picture
			@apply transition-all

	&.ratio-contain
		img,video,picture
			@apply object-contain
	&.ratio-visible
		@apply overflow-visible
	iframe
		object-fit: none !important
.swiper-slide-fullpage
	[class*='ratio-']
		img,iframe,video,.ratio-frame, picture
			@apply transition-none duration-0 #{!important}

[class*='line-clamp-']
	@apply break-words

img
	&.lozad
		@apply opacity-0
		&[data-loaded]
			@apply opacity-100

[data-tabslet]
	[class*='tabslet-content']
		@apply hidden

.overflow-auto,.overflow-scroll
	overscroll-behavior: contain
	transform: translate3d(0,0,0)
	will-change: transform

.toastify
	@apply rounded-full
	@apply py-2 px-3
	&.toastify-center
		@apply left-2 right-2
	.toastify-content
		@apply flex items-center gap-5
	.toastify-icon
		@apply size-6 bg-white rounded-full flex items-center justify-center
		@apply flex-none
		&::before
			@apply font-Awesome6
	.message
		@apply flex-1
	&.success
		// background: theme('colors.primary.1')
		background: #3cb85c
		@apply text-white border-2 border-[#8ad99e]
		.toastify-icon
			&::before
				content: '\f00c'
				@apply text-[#3cb85c]
	&.warning
		background: #FFBF00
		@apply text-white
		.toastify-icon
			&::before
				content: '\f071'
				@apply text-[#FFBF00]
	&.error
		background: theme('colors.red.500')
		@apply text-white
		.toastify-icon
			&::before
				content: '\f00d'
				@apply text-red-500
	&.info
		background: theme('colors.blue.500')
		@apply text-white
		.toastify-icon
			&::before
				content: '\f05a'
				@apply text-blue-500
[tab-wrapper]
	&:not(.tab-wrapper-initialized)
		[tab-content]
			@apply hidden
			&:first-child
				@apply block
	&.tab-wrapper-initialized
		[tab-content]
			@apply hidden

.animejs-onscroll-debug
	@apply z-[200] #{!important}

[setbackground]
	&:not([style*='background'])
		background: theme('colors.primary.1')

.counter-number
	@apply tabular-nums
