section.productdetail-2.section-logos-marquee(class="bg-primary-2 py-5")
	.title(class="text-black font-Trirong text-center heading-24") As Seen In
	.marquee-outer.mt-5
		.marquee-inner
			-for(i=0;i<14;i++)
				img(src="https://trysculptique.com/cdn/shop/files/layer1_500x.png?v=1752348678", alt="")
				img(src="https://trysculptique.com/cdn/shop/files/Grazia-Logo_1_500x.png?v=1752348678", alt="")
				img(src="https://trysculptique.com/cdn/shop/files/layer1_500x.png?v=1752348678", alt="")
				img(src="https://trysculptique.com/cdn/shop/files/WH_Logo_500x.png?v=1752348678", alt="")