section.productdetail-3.section-bloating.section.pb-0
	.container
		div(class="clamp:max-w-[800px] mx-auto text-center space-y-4")
			.title(class="heading-32 font-heading") Why Your 
				span(style='color:#039869') Bloating, Brain Fog & Swollen Legs
				|  Are Actually Connected
			.content(class="text-lg") If you're experiencing more than one of these symptoms, your body is trying to tell you something:
		.grid(class="md:grid-cols-5 gap-4 mt-10")
			-for(i=0;i<5;i++)
				.item.text-center(class="flex flex-col")
					.img
						+img({src:'//trysculptique.com/cdn/shop/files/Untitled_design_3.png?v=1760689800',className:'ratio-[183/235]'})
					.content(class="p-4 bg-[#f7f7f7] clamp:mt-[10px] flex-1")
						.title() Your stomach is flat in the morning, but by evening you look six months pregnant.
		div(class="clamp:max-w-[920px] w-full mx-auto")
			div(class="why-note-img")
				div(class="md:block hidden")
					.img
						+img({src:'//trysculptique.com/cdn/shop/files/Group_7207.png?v=1760690771'})
				div(class="md:hidden block")
					.img
						+img({src:'//trysculptique.com/cdn/shop/files/Frame_1000003583.png?v=1760690769'})
			.next-section-img(class="my-6")
				.img(class="w-12 mx-auto")
					+img({src:'https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Frame_1000003589.png?v=1760690549',className:'ratio-[65/48]'})
			.title(class="heading-32 font-heading text-center my-4") The Connection 
				span(style='color:#039869') You've Been Missing
			.symptom-cause
				div(class="md:block hidden")
					.img
						+img({src:'//trysculptique.com/cdn/shop/files/Frame_1000003590.png?v=1760690771'})
				div(class="md:hidden block")
					.img
						+img({src:'//trysculptique.com/cdn/shop/files/Frame_1000003590_1.png?v=1760690770'})
			